*{
	margin: 0px;
	padding: 0px;
}
body{
	background: linear-gradient(#4503fc, #5e25fa);
}
a{
	text-decoration: none;
	color: #fafafa;
}
html{
	scroll-behaviour: smooth;
}
nav{
	background-color: #000000;
	border-radius: 10px;
	margin: 5px;
	padding-left: 10px;
}
nav ul{
	width: 100%;
	list-style: none;
	display: flex;
}
nav li{
	height: 50px;
}
nav a{
	height: 100%;
	padding: 0 10px;
	text-decoration: none;
	display: flex;
	align-items: center;
	color: #fafafa;
}
nav a:hover{
	background-color: #212121;
}
.is{
	display: flex;
	overflow-x: auto;
}
.is::-webkit-scrollbar{
	display: none;
}
.si{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
	animation: spin 15s infinite linear;
	padding-right: 1em;
}
#gdm{
	position: relative;
}
.img{
	flex: 0 0 5em;
	margin-right: 5px;
	margin-left: 5px;
}
@keyframes spin{
	from {translate: 0;}
	to {translate: -100%;}
}
.text{
	position: absolute;
	top: 77%;
	left: 0;
	font-size: 15px;
}
p{
	font-size: 20px;
	color: #fafafa;
	margin: 10px;
}
h1{
	font-size: 35px;
	color: #fafafa;
	margin: 10px;
}
h2{
	font-size: 27px;
	color: #fafafa;
	margin: 10px;
}
.cu{
	background-color: #a83dff;
	padding: 2px;
}
.container{
	display: flex;
	flex-wrap: nowrap;
}
button{
	margin: 10px;
	text-decoration: none;
	height: 50px;
	width: 100px;
	border-radius: 10px;
	color: black;
}
button a{
	color: black;
}
