@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
	margin: 0px;
	padding: 0px;
}
body{
	background: linear-gradient(#5e25fa, #ffffff);
}
a{
	text-decoration: none;
	color: #fafafa;
}
html{
	scroll-behavior: smooth;
}
.div{
	display: flex;
	flex-direction: column;
	height: 550px;
	align-items: center;
	justify-content: center;
}
.title{
	font-family: BBH Sans Bartle;
}
nav{
	background-color: #000000;
	border-radius: 10px;
	margin: 5px;
	padding-left: 10px;
}
nav ul{
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: flex-end;
}
nav li{
	font-family: Nunito;
	height: 50px;
}
nav a{
	height: 100%;
	padding: 0 10px;
	text-decoration: none;
	display: flex;
	align-items: center;
	color: #fafafa;
}
nav a:hover{
	background-color: #212121;
}
nav img{
	height: 50px;
}
nav li:first-child{
	margin-right: auto;
}
.is{
	display: flex;
	overflow-x: auto;
}
.is::-webkit-scrollbar{
	display: none;
}
.si{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
	animation: spin 15s infinite linear;
	padding-right: 1em;
}
.img{
	flex: 0 0 5em;
	margin-right: 5px;
	margin-left: 5px;
}
@keyframes spin{
	from {translate: 0;}
	to {translate: -100%;}
}
p{
	font-family: Nunito;
	font-size: 20px;
	color: #fafafa;
	margin: 10px;
}
h1{
	font-family: Nunito;
	text-align: center;
	font-size: 35px;
	color: #fafafa;
	margin: 10px;
}
h2{
	font-family: Nunito;
	font-size: 27px;
	color: #fafafa;
	margin: 10px;
}
h3{
	font-family: Nunito;
	font-size: 21px;
	color: black;
}
button{
	margin: 10px;
	text-decoration: none;
	height: 50px;
	width: 100px;
	border-radius: 10px;
	color: black;
	cursor: pointer;
}
button a{
	color: black;
}
.detail{
	background: black;
	width: 400px;
	height: 70px;
	border-radius: 5px;
	text-align: center;
	padding: 2px;
	margin: 10px;
}
.detail p{
	font-size: 18px;
}
#h1{
	font-family: Nunito;
	text-align: center;
	font-size: 35px;
	color: black;
	margin: 10px;
}
.name{
	margin-left: 10px;
}
